# Automatically-generated and temporary files
*.py[co]
*.tmp
__pycache__
/tmp*

# Source trees
/checkouts/*
!/checkouts/.gitkeep

# Source tarballs
/tarballs/netcdf-4.4.1.1.tar.gz
/tarballs/netcdf-fortran-4.4.4.tar.gz

# Snapcraft files
/parts
/prime
/snap/.snapcraft
*.snap
